<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<contextName>message_center</contextName>  
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %line - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/opt/service/messagecenter/logs/messagecenter_productor.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/opt/service/messagecenter/logs/messagecenter_productor.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<!--日志文件保留天数 -->
			<MaxHistory>3</MaxHistory>
			<!--日志文件最大的大小 -->
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- 5MB或1KB -->  
                <MaxFileSize>500MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>  
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %line - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- project default level -->
	<root level="WARN">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
	
  	<logger name="druid.sql" level="DEBUG" additivity="false" >
		<appender-ref ref="console"/>
		<appender-ref ref="rollingFile"/>
	</logger>
	
  	<logger name="druid.sql.Statement" level="DEBUG" additivity="false" >
		<appender-ref ref="console"/>
		<appender-ref ref="rollingFile"/>
	</logger>
 
 	<appender name="messageSaveFailedRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/opt/service/messagecenter/logs/omp_messagecenter_saveFailed.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/opt/service/messagecenter/logs/omp_messagecenter_saveFailed.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<!--日志文件保留天数 -->
			<MaxHistory>2</MaxHistory>
			<!--日志文件最大的大小 -->
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- 5MB或1KB -->  
                <MaxFileSize>50MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>  
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %line - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="messSaveFailedLog" level="INFO" additivity="false">
		<appender-ref ref="messageSaveFailedRollingFile"/>		 
	</logger>
</configuration>